body{
   font-family: Montserrat, sans-serif;
   font-weight: 700;
   margin: 0 auto;
   width: 1280px;
   height: 1626px;
   left: calc(50% - 1280px/2);
   top: calc(50% - 1626px/2);

}

/* Меню */

.nav{
   list-style: none;
   display: inline-flex;
   padding: 0;
   margin: 25.5px 258px 25.5px 330px;
}

.nav-item{
   text-transform: uppercase;
   font-size: 18px;
   line-height: 18px;
   align-items: center;
   color: #FF0000;
   letter-spacing: 2.7px;
   margin-right: 72px;
}

/* Картинка */

.image{
   background-image: url(../images/image.png);
   width: 1280px;
   height: 789px;
   left: 0;
   top: 78px;
}


/* Статья */

h2{
   text-transform: uppercase;
   font-size: 22px;
   line-height: 27px;
   letter-spacing: 3.3px;
   margin: 48px 253px 38px;
   color: #373737;
}

.text{
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 2.4px;
   color: #373737;
}

.text-1{
   margin: 0 80px 28px 67.5px;
}

.text-2{
   margin: 0 67.5px 66px;
}

/* Кнопка */

.btn{
   display: block;
   padding: 18px 43.5px 17px 42.5px;
   margin: 0 544.5px 82px;

   text-transform: uppercase;
   font-weight: 700;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   letter-spacing: 1.8px;
   color: #FFFFFF;
   white-space: nowrap;

   background: #FF0000;
   border-radius: 4px;
   border: none;
   width: 191px;
   height: 51px;

   cursor: pointer;
}

footer p{
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 2.4px;
   text-align: center;
   color: #373737;
   margin: 0 105px 29px 713px;
   white-space: nowrap;
}